/* RESET */
body, main, div, h1 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: 'Stint Ultra Condensed', cursive;
    background-image: url('/assets/img/casino-slot-machine.jpg');
}

/* HEADER */
.header {
    height: 80px;
    padding: 10px 0;
    margin-bottom: 12px;
}

.header__logo {
    height: 50px;
}

.header__title {
    font-family: 'Ultra', serif;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 20px;
    color: #fff;
    text-shadow: 0px 0px 20px #fff5ce;
}

/* MAIN */
.mainSection {
    background-color: #00000085;
}

.machine {
    text-align: center;
}

.machine__display {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.machine__slot {
    border: 2px solid #894128;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    margin: 0 5px;
}

.machine__slot-icon {
    width: 80%;
}

.message {
    height: 40px;
    margin-top: 8px;
}

.button {
    margin-top: 18px;
    height: 30px;
    width: 100px;
    background-color: #ffcb00;
    border: none;
    border-radius: 30px;
    box-shadow: 1px 5px #e91e63;
}

.button:active {
    box-shadow: 1px 3.5px #e91e63, 2px 2px 20px 6px #ffcb00;
    transform: translateY(2px);
}

/* FOOTER */
.footer {}